
.cuerpo {
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
    color: dodgerblue;
}
.encabezado {
    margin-top: 2%;
    text-align: center;
    color: dodgerblue;

}

.convertir {
margin-left: 2%;

}